<IfModule mod_rewrite.c >
RewriteEngine On
RewriteCond %{THE_REQUEST} !/public/* [NC]
RewriteCond %{THE_REQUEST} /(configs|core|controllers|Database|logs|views|vendor|models)/.+ [NC]
RewriteRule ^ - [R=403,L]

RewriteRule ^$ public/  [L]
RewriteRule (.+) public/$1  [L]
</IfModule>